
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>Blog Web App | Yönetici Paneli</title>

    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="~/AdminTheme/plugins/fontawesome-free/css/all.min.css">
    <!-- IonIcons -->
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- icheck bootstrap -->
    <link rel="stylesheet" href="~/AdminTheme/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/AdminTheme/dist/css/adminlte.min.css">
    <!-- summernote -->
    <link rel="stylesheet" href="~/AdminTheme/plugins/summernote/summernote-bs4.css">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
    <link href="~/Content/PagedList.css" rel="stylesheet" />
</head>
<!--
BODY TAG OPTIONS:
=================
Apply one or more of the following classes to to the body tag
to get the desired effect
|---------------------------------------------------------|
|LAYOUT OPTIONS | sidebar-collapse                        |
|               | sidebar-mini                            |
|---------------------------------------------------------|
-->
<body class="hold-transition sidebar-mini">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid px-5">
            <div class="row w-100 d-flex justify-content-start">
                <div class="col-6">
                    <a class="navbar-brand" href="/Home/Home">
                        <img src="~/AdminTheme/SözlükLogo2.png" />
                    </a>
                </div>
                <div class="col-6 d-flex flex-column align-items-end justify-content-center">
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="/Home/Home">Siteye Git</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/AdminLogin/LogOut">Çıkış</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <div class="wrapper">
        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-primary">
            <!-- Sidebar -->
            <div class="sidebar">
                <!-- Sidebar user panel (optional) -->
                <div class="user-panel mt-3 pb-3 mb-3 d-flex justify-content-center text-bold text-white">
                    Admin Panel
                </div>
                <!-- Sidebar Menu -->
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                        <li class="nav-item has-treeview">
                            <a href="/AdminCategory/IndexCategory" class="nav-link">
                                <i class="nav-icon fas fa-tachometer-alt"></i>
                                <p>
                                    Kategoriler
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/AdminHeading/IndexHeading" class="nav-link">
                                <i class="nav-icon fas fa-th"></i>
                                <p>
                                    Başlıklar
                                </p>
                            </a>
                        </li>
                        <li class="nav-item has-treeview">
                            <a href="/AdminContent/IndexContent" class="nav-link">
                                <i class="nav-icon fas fa-table"></i>
                                <p>
                                    Tüm Entryler
                                </p>
                            </a>
                        </li>
                        <li class="nav-item has-treeview">
                            <a href="/AdminWriter/IndexWriter" class="nav-link">
                                <i class="nav-icon fas fa-table"></i>
                                <p>
                                    Yazar Profilleri
                                </p>
                            </a>
                        </li>
                        <li class="nav-item has-treeview">
                            <a href="/AdminMessage/InboxMessage" class="nav-link">
                                <i class="nav-icon fas fa-edit"></i>
                                <p>
                                    İletişim & Mesajlar
                                </p>
                            </a>
                        </li>
                        <li class="nav-item has-treeview">
                            <a href="/AdminAbout/IndexAbout" class="nav-link">
                                <i class="nav-icon fas fa-tree"></i>
                                <p>
                                    Hakkımızda
                                </p>
                            </a>
                        </li>
                        <li class="nav-item has-treeview">
                            <a href="/ErrorPages/Page404" class="nav-link">
                                <i class="nav-icon far fa-envelope"></i>
                                <p>
                                    Hata Sayfaları
                                </p>
                            </a>
                        </li>
                    </ul>
                </nav>
                <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
        </aside>

        <!-- Main Content Wrapper. -->
        <div class="content-wrapper">
            <div class="content p-0">
                @RenderBody()
            </div>
        </div>
        <!-- /. main content-wrapper -->
    </div>

    <!-- REQUIRED SCRIPTS -->
    <!-- jQuery -->
    <script src="~/AdminTheme/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="~/AdminTheme/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE -->
    <script src="~/AdminTheme/dist/js/adminlte.js"></script>
    <!-- AdminLTE App -->
    <script src="~/AdminTheme/dist/js/adminlte.min.js"></script>

    <!-- OPTIONAL SCRIPTS -->
    <script src="~/AdminTheme/plugins/chart.js/Chart.min.js"></script>
    <script src="~/AdminTheme/dist/js/demo.js"></script>
    <script src="~/AdminTheme/dist/js/pages/dashboard3.js"></script>
    <script src="~/AdminTheme/plugins/summernote/summernote-bs4.min.js"></script>
    <!-- /.About Add Popup-->
    <!-- TEXT EDITOR-->
    <script>
        $(function () {
            //Add text editor
            $('#compose-textarea').summernote()
        })
    </script>
    <!--ALL MESSAGE SELECT-->
    <script>
        $(function () {
            //Enable check and uncheck all functionality
            $('.checkbox-toggle').click(function () {
                var clicks = $(this).data('clicks')
                if (clicks) {
                    //Uncheck all checkboxes
                    $('.mailbox-messages input[type=\'checkbox\']').prop('checked', false)
                    $('.checkbox-toggle .far.fa-check-square').removeClass('fa-check-square').addClass('fa-square')
                } else {
                    //Check all checkboxes
                    $('.mailbox-messages input[type=\'checkbox\']').prop('checked', true)
                    $('.checkbox-toggle .far.fa-square').removeClass('fa-square').addClass('fa-check-square')
                }
                $(this).data('clicks', !clicks)
            })
        })
    </script>
</body>
</html >

