
@{
    Layout = null;
}

<!--<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>404 HTML Tempalte by Colorlib</title>-->

    <!-- Google font -->
    <!--<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,900" rel="stylesheet">-->

    <!-- Custom stlylesheet -->
    <!--<link type="text/css" rel="stylesheet" href="~/AdminTheme/colorlib-error-404-10/css/style.css" />

</head>

<body>

    <div id="notfound">
        <div class="notfound">
            <div class="notfound-404">
                <h1>Oops!</h1>
            </div>
            <h2>404 - Sayfa Bulunamadı</h2>
            <p>Aradığınız sayfa kaldırılmış, adı değiştirilmiş veya geçici olarak kullanılamıyor olabilir.</p>
            <a href="/WriterLogin/Login">Ana Sayfaya Dön</a>
        </div>
    </div>

</body>

</html>-->

<!DOCTYPE HTML>
    <html lang="en">
    <head>
        <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no" />
        <title>404 - Sayfa Bulunamadı</title>
        <link type="text/css" rel="stylesheet" href="~/AdminTheme/colorlib-error-404-10/css/style.css" />
        <style>
                html {font-size: 15pt; height: 100%; }
                body {background: #24252d; font-family: Arial, Helvetica, sans-serif; color: #bbb; line-height: 1.5; text-align: center; display: flex; align-items: center; height: 100%; flex-direction: column; justify-content: center; }
                h1 {color: #fff; margin: 0; }
        </style>
    </head>
    <body>
        <h1>Sayfa Bulunamadı</h1> <p>Üzgünüz, istenen sayfa bulunamadı.</p>
    </body>
    </html>
